<% if !user_signed_in? %>
  <h1>Welcome</h1>

  <p>
    Welcome to PA Schedule Search! If you have not done so already, please create an account below. Otherwise, sign in to view your schedule.
  </p>
  <br>
  <center>
    <div class="row">
      <div class="col-md-6 col-xs-6 col-sm-6 col-lg-6">
	<%= link_to "Sign up!", new_user_registration_path, class: "btn btn-lg btn-primary" %>
      </div>
      <div class="col-md-6 col-xs-6 col-sm-6 col-lg-6">
	<%= link_to "Sign in!", new_user_session_path, class: "btn btn-lg btn-primary" %>
      </div>
    </div>
  </center>
<% else %>
  <h1>Welcome!</h1>

  <p>
    We can't display your schedule right now. This could be because it is not yet available on PANet, or because you are not a student. Note that it may take some time for the site to load your schedule into its database after it has been released on PANet. However, you can still use this site in the meantime to view other schedules and class rosters.
  </p>
<% end %>
