<h1>Welcome</h1>

<p>
  Welcome to PA Schedule Search! If you have not done so already, please create an account below. Otherwise, sign in to view your schedule.
</p>
<br>
<center>
  <div class="row">
    <div class="col-md-6">
      <%= link_to "Sign up!", new_user_registration_path, class: "btn btn-lg btn-primary" %>
    </div>
    <div class="col-md-6">
      <%= link_to "Sign in!", new_user_session_path, class: "btn btn-lg btn-primary" %>
    </div>
  </div>
</center>

