<tr>
  <td><%= link_to person.full_name + (person.pref_name && person.pref_name != person.first_name ? " (" + person.pref_name + ")" : ""), person %></td>
  <td><%= person.type == "Student" ? person.grad_year : person.department %></td>
</tr>
