/* footer */

footer {
  margin-top: 45px;
  padding: 5px 10px 0 10px;
  border-top: 1px solid #eaeaea;
  color: white;
}

footer a {
  color: white;
}

footer a:hover {
  color: white;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}