// Place all the styles related to the Students controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
    min-width: 620px;
    width: auto !important;
    width: 620px;
}

.schedule {
    background-color: rgba(#FFF, 1);
    border: 1px solid black;
    text-align: center;
    font-size: 8pt;		
    color: black;
}

.schCol td {
    width: 20%;
    /* vertical-align: top; */
}

.schCol td table td {
    border: 1px solid rgb(50, 50, 50);
    padding: 1px;
    padding-top: 0px;
    a {
      color: rgba(#00A, 1);
    }
    p {
        font-size: 11px;
    }
}

.per1 td {
    background-color: rgba(#1F90FF, .6);
}

.per2 td {
    background: rgba(#C285FF, .6);
}

.per3 td {
    background: rgba(#F2A2F0, .6);
}

.per4 td {
    background: rgba(#FF1337 , .6);
}

.per5 td {
    background: rgba(#FFA319, .6);
}

.per6 td {
    background: rgba(#7FFF00, .6);
}

.per7 td {
    background: rgba(#248F24, .6);
}

.per9 td {
    background: rgba(#ABDCAD, .6);
}

.free td {
    background: rgba(#FFFF75, .6);
}

.auxiliary td {
    background: rgba(#DADADA, .6);
}
