<footer class="footer">
  <small>
    <b>Schedule Search</b> by Jamie Bloxham and Jake Herman.  Maintained by Rudd Fawcett.
  </small>
  <nav>
    <ul>
      <li><%= link_to "About / Contact", contact_path %></li>
    </ul>
  </nav>
</footer>
